body {
    background-color: #f1ecec;
}

header {
    background-color: #f1f1f1;
    padding:10px;
    background-image: url("./img/banniere.png");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    color: darkcyan;
}

h5 {
    text-transform: capitalize;
}

i {
    color: darkcyan;
}
.renseignements {
    padding-top: 55px;
}

.aboutme {
    max-width: 540px;
    text-align: justify;
}

.skills {
     padding-left: 45px;
 }

.presentation {
    padding-top: 5px;
}

.formation {
    font-style: italic;
}

.liste {
    list-style-type: square;
}

.border {
    border: 2px solid lightgrey;
    border-radius: 7px;
    margin: 25px;
    padding: 15px;
}

a > i {
    font-size: 40px;
    padding-left: 50px;
}

.blocabout {
    padding-top: 100px;
}